/* GamE STYLING */

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: #99dfa1;
}

#game {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

#rebi {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 10vh;
    height: 10vh;
    background: url('img/RebiHappy.png') no-repeat center center;
    background-size: contain;
    transform: translateX(-50%);
}

#timer, #score {
    position: absolute;
    top: 10px;
    font-size: 1.5em;
    color: #333;
    z-index: 1000;
}

#timer {
    left: 10px;
}

#score {
    right: 10px;
}

.object {
    position: absolute;
    width: 7vh;
    height: 7vh; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* END PAGE STYLING */

#end {
    text-align: center;
}

.hidden {
    display: none !important;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #8a412a;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    opacity: 80%;
}

#present-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    max-width: 256px;
}

.gif{
    max-width: 256px;
    margin-bottom: 16px; 
}